.hero-about {
    position: relative;
    background: url('/assets/beautiful-underwater-landscape.jpg') no-repeat center center / cover;
    width: 100%;
    height: 400px; /* Adjust height as needed */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    padding: 50px 20px; /* Adjust padding as needed */
    clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
}

.hero-about h1 {
    font-size: 2.5em;
}

.hero-about p {
    font-size: 1.2em;
    max-width: 800px;
    margin: 20px auto;
}




footer {
    background-color: #000814;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
/* General styling for the key figures section */
.key-figures {
    margin: 50px 0;
    display: flex;
    justify-content: space-around; /* Ensures even spacing */
    padding: 40px 20px; /* More padding for better visual separation */
    background-color: #0056A6; /* Consistent with design theme */
    color: white;
    text-align: center;
    border-radius: 30px;;
}

/* Individual figure styling */
.figure {
    margin: 0 10px; /* Additional margin for separation */
}

.figure h2 {
    font-size: 2em; /* Larger font size for visibility */
    margin-bottom: 0.5em; /* Space between the number and text */
}

.figure p {
    font-size: 1.2em; /* Slightly larger text for readability */
}


.engagements {
    width: 100%;
    background-color: #013A6B; /* Une couleur bleue plus profonde */
    padding: 40px; /* Plus d'espace autour du contenu */
    text-align: center; /* Centrer le titre et les éléments */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Ombre subtile pour la profondeur */
}

.engagements h2 {
    font-size: 24px; /* Taille de police plus grande pour le titre */
    color: white; /* Couleur blanche pour le contraste */
    margin-bottom: 30px; /* Espacement après le titre */
}

.engagement-item {
    background-color: white;
    margin: 10px auto; /* Centrage automatique et espacement entre les éléments */
    padding: 20px; /* Plus de padding pour un look plus ample */
    border-radius: 10px; /* Bordures arrondies plus prononcées */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Ombre pour chaque élément pour une dimension supplémentaire */
    max-width: 800px; /* Largeur maximale pour le contrôle de la taille */
    color: #013A6B; /* Couleur du texte correspondant à la couleur d'arrière-plan */
    font-size: 16px; /* Taille de police augmentée pour améliorer la lisibilité */
    text-align: left; /* Alignement du texte à gauche pour une lecture naturelle */
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.flex-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}

.flex-item:nth-child(odd) {
    flex-direction: row;
    background-color: #007BFF;  /* Example background color for odd items */
}

.flex-item:nth-child(even) {
    flex-direction: row-reverse;
    background-color: #0056A6;  /* Example background color for even items */
}

.text-content, .image-content {
    flex: 1;
    padding: 20px;
}

.flex-item img {
    width: 100%;
    max-width: 400px; /* Limit size to not overpower the text */
    height: auto;
}
.button-link {
    text-decoration: none; /* Removes underline from links */
}

.button-link button {
    background-color: #007BFF; /* Example button color */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-link button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

button {
    padding: 10px 20px;
    background-color: #FF5722; /* Example button color */
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #E64A19;
}
.team-section {
    background-color: #8fc6db;
    padding: 20px;
    text-align: left;
    max-width: 800px;
    margin: auto;
}

.team-section h2 {
    color: #013A6B;
    margin-bottom: 20px;
}

.team-section h3 {
margin: 20px;
}
.team-section p {
    font-size: 14px;
    color: #666;
    line-height: 1.6;
}

.team-category {
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-left: 5px solid #013A6B;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    
}

.team-category img {
    width: 150px; /* Adjust based on your design needs */
    height: auto;
    margin-right: 20px;
    object-fit: cover;
}

/* General Styles for Pre-Footer and Footer */
