

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1800px;
    padding: 40px 0;
}

header h1 {
    color: #333;
    font-size: 24px;
}

header p {
    color: #666;
    font-size: 16px;
    margin-bottom: 30px;
}

.images {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.images img {
   
    height: auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

article {
    background:  #f9f9f9;/* Pas de fond ou ajustez selon la maquette */
    padding: 20px;
    margin-top: 20px;
    text-align: left;
}

article h2 {
    color: #013a6b;
}

article p {
    color: #333;
    line-height: 1.6;
}
.partners, .details {
    display: flex;
    justify-content: space-around; /* Centrer et répartir les logos des partenaires */
    margin-top: 30px;
    background-color: #FFF; /* Fond blanc pour les détails et les partenaires */
}

.partners img, .details div {
    padding: 20px;
    margin: 10px;
    width: calc(50% - 22px); /* Calcul pour ajuster la largeur avec padding et margin */
    display: inline-block; /* Affichage en ligne avec ajustement */
}

.services {
    
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

.cards {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.card {
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 30%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card h3 {
    color: #d35400;
}

.details, .partners {
    margin-top: 40px;
    text-align: center;
}

.details div, .partners div {
    background-color: #FFF; /* Fond blanc pour uniformité */
    padding: 20px;
    margin: 10px;
    width: calc(50% - 22px); /* Calcul pour ajuster la largeur avec padding et margin */
    display: inline-block;
}




.details h4 {
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

li:last-child {
    border-bottom: none;
}